{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/file_upload.html' as upload %}

{% block content %}
<div class="ui grid container">
    <div class="twelve wide computer sixteen wide mobile centered column">
        <h2 class="ui dividing header">Edit Database Entry</h2>
          <div class="ui grid container">
              <div class="sixteen wide computer sixteen wide mobile centered column">
                  <h3 class="ui dividing header">Submit Other</h3>
                   {% set other_flashes={
                      'success': get_flashed_messages(category_filter=['form-success'])
                  } %}
                  {{ f.begin_form(other_form, other_flashes) }}
                  <input type="hidden" name="form-name" value="other_form">
                  <div class="sixteen wide field">
                  {{ f.form_message(other_flashes['success'], header='Success!', class='success') }}
                  </div>
                  <div class="sixteen wide field">
                    {{ f.render_form_field(other_form.other_title, name='Title*') }}
                  </div>
                  <div class="author fields" id="author-0">
                      <div class='four wide field'>
                        <label>Add Author</label>
                        <a class="ui labeled icon button fluid" href="javascript:addAuthor()">
                          <i class="plus icon"></i>
                          Add Author
                        </a>
                      </div>
                      <div class="six wide field">
                      {{ f.render_form_field(other_form.other_author_first_name[0], name="First Name") }}
                      </div>
                      <div class="six wide field">
                      {{ f.render_form_field(other_form.other_author_last_name[0], name="Last Name") }}
                      </div>
                  </div>
                  <div class="sixteen wide field" id="beforeMe">
                  {{ f.render_form_field(other_form.other_document_type, name='Resource Type*') }}
                  </div>
                  <div class="sixteen wide field">
                  {{ f.render_form_field(other_form.other_source, name='Source*') }}
                  </div>
                  <div class="three fields">
      	            <div class="field">
      	            {{ f.render_form_field(other_form.other_publication_day, name='Day') }}
      	            </div>
      	            <div class="field">
      	            {{ f.render_form_field(other_form.other_publication_month, name='Month') }}
      	            </div>
      	            <div class="field">
      	            {{ f.render_form_field(other_form.other_publication_year, name='Year*') }}
      	            </div>
      	        </div>
                  <div class="sixteen wide field">
                  {{ f.render_form_field(other_form.other_description, name='Description*') }}
                  </div>
                  <div class="sixteen wide field">
                  {{ f.render_form_field(other_form.other_tags, name="Tags") }}
                  </div>
                  <div class="sixteen wide field">
                  {{ f.render_form_field(other_form.other_link, name='Link') }}
                  </div>
                  <div class="sixteen wide field">
                  {{ f.render_form_input(other_form.other_file_urls) }}
                  </div>
                  <div class="sixteen wide field">
                  {{ upload.file_upload('other_file_urls') }}
                  </div>
                  <div class="fields">
                  <div class="three wide field">
                  {{ f.render_form_field(other_form.save_other) }}
                  </div>
                  <div class="three wide field">
                  {{ f.render_form_field(other_form.submit_other) }}
                  </div>
                  </div>
                  {{ f.end_form(other_form) }}
              </div>
              </div>
          </div>
        </div>
    </div>
</div>
<script>
  $('.menu .item').tab();
  $(document).ready(function() {
      {% for i in range(other_form.other_author_first_name | length) %}
          {% if i != 0 %}
              $("#beforeMe").before(`<div class="author fields" id="author-{{ i }}">\
              <div class="four wide field">\
                <label>Remove Author</label>\
                <a class="ui labeled icon button fluid" id="author-{{ i }}" href="javascript:delAuthor({{ i }})">\
                  <i class="close icon"></i>Remove Author</a>\
              </div>\
              <div class="six wide field">\
                {{ f.render_form_field(other_form.other_author_first_name[i], name="First Name") }}
              </div>\
              <div class="six wide field">\
                {{ f.render_form_field(other_form.other_author_last_name[i], name="Last Name") }}
              </div>\
          </div>`); //bit hacky but ok

          {% endif %}
      {% endfor %}
  });
  function addAuthor() {
      let index=$(".author").length;
      $( "#beforeMe" ).before(`<div class="author fields" id="author-${index}">\
          <div class="four wide field">\
            <label>Remove Author</label>\
            <a class="ui labeled icon button fluid" id="author-${index}" href="javascript:delAuthor(${index})">\
              <i class="close icon"></i>Remove Author</a>\
          </div>\
          <div class="six wide field">\
            {{ f.render_form_field(other_form.other_author_first_name[0], name="First Name") }}
          </div>\
          <div class="six wide field">\
            {{ f.render_form_field(other_form.other_author_last_name[0], name="Last Name") }}
          </div>\
      </div>`.replace(/0/g, index).replace(/value="*"/g, 'value=""')); //bit hacky but ok
  }
  function delAuthor(author_id) {
    let id="#author-" + author_id
    console.log(author_id)
      $(id).remove();
  }
</script>

{% endblock %}
