{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/file_upload.html' as upload %}

{% block content %}
<div class="ui grid container">
    <div class="twelve wide computer sixteen wide mobile centered column">
        <h2 class="ui dividing header">Create Database Entry</h2>
          <div class="ui grid container">
              <div class="sixteen wide computer sixteen wide mobile centered column">
                  <h3 class="ui dividing header">Submit a Book</h3>
                   {% set book_flashes = {
                      'success': get_flashed_messages(category_filter=['form-success'])
                  } %}
                  {{ f.begin_form(book_form, book_flashes) }}
                  <input type="hidden" name="form-name" value="book_form">
                  <div class = "sixteen wide field">
                  {{ f.form_message(book_flashes['success'], header='Success!', class='success') }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(book_form.book_title, name="Title") }}
                  </div>
                  <div class = "fields">
                      <div class = "eight wide field">
                      {{ f.render_form_field(book_form.book_author_first_name, name="First Name") }}
                      </div>
                      <div class = "eight wide field">
                      {{ f.render_form_field(book_form.book_author_last_name, name="Last Name") }}
                      </div>
                  </div>
                   <div class = "fields author" id='author-1'>
                     <div class = "four wide field">
                       <label for="">Add another editor</label>
                       <a class="ui fluid labeled icon button" href="javascript:addAuthor();">
                         <i class="icon plus"></i>
                         Add editor
                      </a>
                     </div>
                      <div class = "six wide field">
                      {{ f.render_form_field(book_form.book_editor_first_name, name="Editor First Name") }}
                      </div>
                      <div class = "six wide field">
                      {{ f.render_form_field(book_form.book_editor_last_name, name="Editor Last Name") }}
                      </div>
                  </div>
                  <div class = "three fields" id='beforeMe'>
                      <div class = "field">
                      {{ f.render_form_field(book_form.book_volume, name="Volume") }}
                      </div>
                      <div class = "field">
                      {{ f.render_form_field(book_form.book_edition, name="Edition") }}
                      </div>
                      <div class = "field">
                      {{ f.render_form_field(book_form.book_series, name="Series") }}
                      </div>
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(book_form.book_publisher_name, name="Publisher") }}
                  </div>
                  <div class = "two fields">
      	            <div class = "eight wide field">
      	            {{ f.render_form_field(book_form.book_publication_month, name="Month") }}
      	            </div>
      	            <div class = "eight wide field">
      	            {{ f.render_form_field(book_form.book_publication_year, name="Year") }}
      	            </div>
      	          </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(book_form.book_description, name="Description") }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(book_form.book_link, name="Link") }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_input(book_form.book_file_urls) }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ upload.file_upload('file_urls') }}
                  </div>
                  <div class = "fields">
                  <div class = "three wide field">
                  {{ f.render_form_field(book_form.save_book) }}
                  </div>
                  <div class = "three wide field">
                  {{ f.render_form_field(book_form.submit_book) }}
                  </div>
                  </div>
                  {{ f.end_form(book_form) }}
              </div>
          </div>
        </div>
    </div>
</div>
<script>
  $('.menu .item').tab();
  var csrf_token = "{{ csrf_token() }}";
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrf_token);
          }
      }
  });
  function addAuthor() {
      $.post('/admin/add_author', {
      }).done(function(response) {
        var numItems = $('.author').length
        $("#beforeMe").before('<div class = "fields author" id="author-' + (numItems + 1) + '">\
          <div class = "four wide field">\
            <label for="">Remove this editor</label>\
            <a class="ui fluid labeled icon button" href="javascript:deleteAuthor(' + (numItems + 1) + ')";><i class="icon close"></i>Remove editor</a>\
          </div>\
          <div class="six wide field">\
            <label for="lname">Author First Name</label>\
           <input id="lname" type="text" placeholder="Author First Name">\
          </div>\
          <div class="six wide field">\
            <label for="fname">Author Last Name</label>\
            <input id="fname"  type="text" placeholder="Author Last Name">\
          </div>\
       </div>')  // TODO?
      }).fail(function() {
          // TODO?
      });
  }
  function deleteAuthor(author_id) {
      $.post('/admin/delete_author', {
      }).done(function(response) {
        $( "#author-" + author_id ).remove();  // TODO?
      }).fail(function() {
          // TODO?
      });
  }
</script>

{% endblock %}
