{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/file_upload.html' as upload %}

{% block content %}
<div class="ui grid container">
    <div class="twelve wide computer sixteen wide mobile centered column">
      <a class="ui basic compact button" href="{{ url_for(user_type + '.index') }}">
          <i class="caret left icon"></i>
          Back to dashboard
      </a>
      <a class="ui basic compact button" href="{{ url_for(user_type + '.view_all_drafts') }}">
          <i class="caret left icon"></i>
          Back to my contributions
      </a>
        <h2 class="ui dividing header">Create Database Entry</h2>
        <div class="ui top attached tabular menu">
          <a class="{% if active == 'book' %}active {% endif %}item" data-tab="first">Book</a>
          <a class="{% if active == 'article' %}active {% endif %}item" data-tab="second">News Article</a>
          <a class="{% if active == 'journal' %}active {% endif %}item" data-tab="third">Journal Article</a>
          <a class="{% if active == 'law' %}active {% endif %}item" data-tab="fourth">Law</a>
          <a class="{% if active == 'video' %}active {% endif %}item" data-tab="fifth">Video</a>
          <a class="{% if active == 'report' %}active {% endif %}item" data-tab="sixth">Report</a>
          <a class="{% if active == 'other' %}active {% endif %}item" data-tab="seventh">Other</a>
        </div>
        <div class="ui bottom attached {% if active == 'book' %}active {% endif %}tab segment" data-tab="first">
          <div class="ui grid container">
              <div class="sixteen wide computer sixteen wide mobile centered column">
                  <h3 class="ui dividing header">Submit a Book</h3>
                   {% set book_flashes = {
                      'success': get_flashed_messages(category_filter=['form-success'])
                  } %}
                  {{ f.begin_form(book_form, book_flashes) }}
                  <input type="hidden" name="form-name" value="book_form">
                  <div class = "sixteen wide field">
                  {{ f.form_message(book_flashes['success'], header='Success!', class='success') }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(book_form.book_title, name="Title") }}
                  </div>
                  <div class = "fields">
                      <div class = "eight wide field">
                      {{ f.render_form_field(book_form.book_author_first_name, name="First Name") }}
                      </div>
                      <div class = "eight wide field">
                      {{ f.render_form_field(book_form.book_author_last_name, name="Last Name") }}
                      </div>
                  </div>
                  <div class = "fields">
                      <div class = "eight wide field">
                      {{ f.render_form_field(book_form.book_editor_first_name, name="Editor First Name") }}
                      </div>
                      <div class = "eight wide field">
                      {{ f.render_form_field(book_form.book_editor_last_name, name="Editor Last Name") }}
                      </div>
                  </div>
                  <div class = "three fields">
                      <div class = "field">
                      {{ f.render_form_field(book_form.book_volume, name="Volume") }}
                      </div>
                      <div class = "field">
                      {{ f.render_form_field(book_form.book_edition, name="Edition") }}
                      </div>
                      <div class = "field">
                      {{ f.render_form_field(book_form.book_series, name="Series") }}
                      </div>
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(book_form.book_publisher_name, name="Publisher") }}
                  </div>
                  <div class = "two fields">
      	            <div class = "eight wide field">
      	            {{ f.render_form_field(book_form.book_publication_month, name="Month") }}
      	            </div>
      	            <div class = "eight wide field">
      	            {{ f.render_form_field(book_form.book_publication_year, name="Year") }}
      	            </div>
      	          </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(book_form.book_description, name="Description") }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(book_form.book_tags, name="Tags") }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(book_form.book_link, name="Link") }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_input(book_form.book_file_urls) }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ upload.file_upload('file_urls') }}
                  </div>
                  <div class = "fields">
                  <div class = "three wide field">
                  {{ f.render_form_field(book_form.save_book) }}
                  </div>
                  <div class = "three wide field">
                  {{ f.render_form_field(book_form.submit_book) }}
                  </div>
                  </div>
                  {{ f.end_form(book_form) }}
              </div>
          </div>
        </div>
        <div class="ui bottom attached {% if active == 'article' %}active {% endif %}tab segment" data-tab="second">
          <div class="ui grid container">
              <div class="sixteen wide computer sixteen wide mobile centered column">
              <h3 class="ui dividing header">Submit a News Article</h3>
              {% set article_flashes = {
                 'success': get_flashed_messages(category_filter=['form-success'])
             } %}
             {{ f.begin_form(article_form, article_flashes) }}
             <input type="hidden" name="form-name" value="article_form">
             <div class = "sixteen wide field">
             {{ f.form_message(article_flashes['success'], header='Success!', class='success') }}
             </div>
             <div class = "sixteen wide field">
             {{ f.render_form_field(article_form.article_title) }}
             </div>
             <div class="fields">
               <div class = "eight wide field">
               {{ f.render_form_field(article_form.article_author_first_name) }}
               </div>
               <div class = "eight wide field">
               {{ f.render_form_field(article_form.article_author_last_name) }}
               </div>
             </div>
             <div class = "sixteen wide field">
             {{ f.render_form_field(article_form.article_publication) }}
             </div>
             <div class = "three fields">
               <div class = "field">
               {{ f.render_form_field(article_form.article_publication_day) }}
               </div>
               <div class = "field">
               {{ f.render_form_field(article_form.article_publication_month) }}
               </div>
               <div class = "field">
               {{ f.render_form_field(article_form.article_publication_year) }}
               </div>
             </div>
               <div class = "sixteen wide field">
               {{ f.render_form_field(article_form.article_description) }}
               </div>
               <div class = "sixteen wide field">
               {{ f.render_form_field(article_form.article_tags, name="Tags") }}
               </div>
               <div class = "sixteen wide field">
               {{ f.render_form_field(article_form.article_link) }}
               </div>
               <div class = "sixteen wide field">
               {{ f.render_form_input(article_form.article_file_urls) }}
               </div>
               <div class = "sixteen wide field">
               {{ upload.file_upload('file_urls') }}
               </div>
               <div class = "fields">
                  <div class = "three wide field">
                  {{ f.render_form_field(article_form.save_article) }}
                  </div>
                  <div class = "three wide field">
                  {{ f.render_form_field(article_form.submit_article) }}
                  </div>
                  </div>
              </div>
               {{ f.end_form(article_form) }}
              </div>
            </div>
        <div class="ui bottom attached {% if active == 'journal' %}active {% endif %}tab segment" data-tab="third">
          <div class="ui grid container">
              <div class="sixteen wide computer sixteen wide mobile centered column">
              <h3 class="ui dividing header">Submit a Journal Article</h3>
              {% set article_flashes = {
                 'success': get_flashed_messages(category_filter=['form-success'])
             } %}
             {{ f.begin_form(journal_form, article_flashes) }}
             <input type="hidden" name="form-name" value="journal_form">
             <div class = "sixteen wide field">
             {{ f.form_message(article_flashes['success'], header='Success!', class='success') }}
             </div>
             <div class = "sixteen wide field">
             {{ f.render_form_field(journal_form.article_title) }}
             </div>
             <div class="fields">
               <div class = "eight wide field">
               {{ f.render_form_field(journal_form.article_author_first_name) }}
               </div>
               <div class = "eight wide field">
               {{ f.render_form_field(journal_form.article_author_last_name) }}
               </div>
             </div>
             <div class = "sixteen wide field">
             {{ f.render_form_field(journal_form.publisher_name) }}
             </div>
             <div class = "sixteen wide field">
             <div class = "three fields">
             <div class = "field">
             {{ f.render_form_field(journal_form.volume) }}
             </div>
             <div class = "field">
             {{ f.render_form_field(journal_form.start_page) }}
             </div>
             <div class = "field">
             {{ f.render_form_field(journal_form.end_page) }}
             </div>
             </div>
             </div>
             <div class = "three fields">
               <div class = "field">
               {{ f.render_form_field(journal_form.article_publication_day) }}
               </div>
               <div class = "field">
               {{ f.render_form_field(journal_form.article_publication_month) }}
               </div>
               <div class = "field">
               {{ f.render_form_field(journal_form.article_publication_year) }}
               </div>
             </div>
               <div class = "sixteen wide field">
               {{ f.render_form_field(journal_form.article_description) }}
               </div>
               <div class = "sixteen wide field">
                  {{ f.render_form_field(journal_form.article_tags, name="Tags") }}
               </div>
               <div class = "sixteen wide field">
               {{ f.render_form_field(journal_form.article_link) }}
               </div>
               <div class = "sixteen wide field">
               {{ f.render_form_input(journal_form.article_file_urls) }}
               </div>
               <div class = "sixteen wide field">
               {{ upload.file_upload('file_urls') }}
               </div>
               <div class = "fields">
                  <div class = "three wide field">
                  {{ f.render_form_field(journal_form.save_article) }}
                  </div>
                  <div class = "three wide field">
                  {{ f.render_form_field(journal_form.submit_article) }}
                  </div>
                  </div>
              </div>
               {{ f.end_form(journal_form) }}
              </div>
            </div>

        <div class="ui bottom attached {% if active == 'law' %}active {% endif %}tab segment" data-tab="fourth">
          <div class="ui grid container">
              <div class="sixteen wide computer sixteen wide mobile centered column">
                  <h3 class="ui dividing header">Submit a Law</h3>
                   {% set law_flashes = {
                      'success': get_flashed_messages(category_filter=['form-success'])
                  } %}
                  {{ f.begin_form(law_form, law_flashes) }}
                  <input type="hidden" name="form-name" value="law_form">
                  <div class = "sixteen wide field">
                  {{ f.form_message(law_flashes['success'], header='Success!', class='success') }}
                  </div>
                  <div class = "fields">
                      <div class = "sixteen wide field">
                      {{ f.render_form_field(law_form.law_title) }}
                      </div>
                  </div>
                  <div class = "fields">
                      <div class = "sixteen wide field">
                      {{ f.render_form_field(law_form.law_citation) }}
                      </div>
                  </div>
                  <div class = "three fields">
                      <div class = "field">
                      {{ f.render_form_field(law_form.law_government_body) }}
                      </div>
                      <div class = "field">
                      {{ f.render_form_field(law_form.law_section) }}
                      </div>
                      <div class = "field">
                      {{ f.render_form_field(law_form.law_region) }}
                      </div>
                  </div>
                  <div class = "three fields">
                      <div class = "field">
                      {{ f.render_form_field(law_form.law_city) }}
                      </div>
                      <div class = "field">
                      {{ f.render_form_field(law_form.law_state) }}
                      </div>
                      <div class = "field">
                      {{ f.render_form_field(law_form.law_country) }}
                      </div>
                  </div>
                  <div class = "three fields">
                      <div class = "field">
                      {{ f.render_form_field(law_form.law_enactment_day) }}
                      </div>
                      <div class = "field">
                      {{ f.render_form_field(law_form.law_enactment_month) }}
                      </div>
                      <div class = "field">
                      {{ f.render_form_field(law_form.law_enactment_year) }}
                      </div>
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(law_form.law_description) }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(law_form.law_tags, name="Tags") }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(law_form.law_link) }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_input(law_form.law_file_urls) }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ upload.file_upload('file_urls') }}
                  </div>
                  <div class = "fields">
                  <div class = "three wide field">
                  {{ f.render_form_field(law_form.save_law) }}
                  </div>
                  <div class = "three wide field">
                  {{ f.render_form_field(law_form.submit_law) }}
                  </div>
                  </div>
                  {{ f.end_form(law_form) }}
              </div>
          </div>
        </div>
        <div class="ui bottom attached {% if active == 'video' %}active {% endif %}tab segment" data-tab="fifth">
          <div class="ui grid container">
              <div class="sixteen wide computer sixteen wide mobile centered column">
              <h3 class="ui dividing header">Submit a Video</h3>
              {% set video_flashes = {
                 'success': get_flashed_messages(category_filter=['form-success'])
             } %}
             {{ f.begin_form(video_form, video_flashes) }}
             <input type="hidden" name="form-name" value="video_form">
             <div class = "sixteen wide field">
             {{ f.form_message(video_form['success'], header='Success!', class='success') }}
             </div>
             <div class = "sixteen wide field">
             {{ f.render_form_field(video_form.video_title, name="Title") }}
             </div>
             <div class="fields">
               <div class = "eight wide field">
               {{ f.render_form_field(video_form.director_first_name, name="First Name") }}
               </div>
               <div class = "eight wide field">
               {{ f.render_form_field(video_form.director_last_name, name="Last Name") }}
               </div>
             </div>
             <div class = "sixteen wide field">
             {{ f.render_form_field(video_form.video_post_source, name="Source") }}
             </div>
             <div class = "three fields">
               <div class = "field">
               {{ f.render_form_field(video_form.video_publication_day, name="Day") }}
               </div>
               <div class = "field">
               {{ f.render_form_field(video_form.video_publication_month, name="Month") }}
               </div>
               <div class = "field">
               {{ f.render_form_field(video_form.video_publication_year, name="Year") }}
               </div>
            </div>
               <div class = "sixteen wide field">
               {{ f.render_form_field(video_form.video_description) }}
               </div>
               <div class = "sixteen wide field">
                  {{ f.render_form_field(video_form.video_tags, name="Tags") }}
               </div>
               <div class = "sixteen wide field">
               {{ f.render_form_field(video_form.video_link) }}
               </div>
               <div class = "sixteen wide field">
               {{ f.render_form_input(video_form.video_file_urls) }}
               </div>
               <div class = "sixteen wide field">
               {{ upload.file_upload('file_urls') }}
               </div>
               <div class = "fields">
                  <div class = "three wide field">
                  {{ f.render_form_field(video_form.save_video) }}
                  </div>
                  <div class = "three wide field">
                  {{ f.render_form_field(video_form.submit_video) }}
                  </div>
                  </div>
              </div>
               {{ f.end_form(video_form) }}
              </div>
            </div>
            <div class="ui bottom attached {% if active == 'report' %}active {% endif %}tab segment" data-tab="sixth">
              <div class="ui grid container">
                  <div class="sixteen wide computer sixteen wide mobile centered column">
                  <h3 class="ui dividing header">Submit a Report</h3>
                  {% set report_flashes = {
                     'success': get_flashed_messages(category_filter=['form-success'])
                 } %}
                 {{ f.begin_form(report_form, video_flashes) }}
                 <input type="hidden" name="form-name" value="report_form">
                 <div class = "sixteen wide field">
                 {{ f.form_message(report_form['success'], header='Success!', class='success') }}
                 </div>
                 <div class = "sixteen wide field">
                 {{ f.render_form_field(report_form.report_title, name="Title") }}
                 </div>
                 <div class="fields">
                   <div class = "eight wide field">
                   {{ f.render_form_field(report_form.report_author_first_name, name="First Name") }}
                   </div>
                   <div class = "eight wide field">
                   {{ f.render_form_field(report_form.report_author_last_name, name="Last Name") }}
                   </div>
                 </div>
                 <div class = "sixteen wide field">
                 {{ f.render_form_field(report_form.report_publisher, name="Publisher") }}
                 </div>
                 <div class = "three fields">
                   <div class = "field">
                   {{ f.render_form_field(report_form.report_publication_day, name="Day") }}
                   </div>
                   <div class = "field">
                   {{ f.render_form_field(report_form.report_publication_month, name="Month") }}
                   </div>
                   <div class = "field">
                   {{ f.render_form_field(report_form.report_publication_year, name="Year") }}
                   </div>
                </div>
                   <div class = "sixteen wide field">
                   {{ f.render_form_field(report_form.report_description) }}
                   </div>
                   <div class = "sixteen wide field">
                   {{ f.render_form_field(report_form.report_tags, name="Tags") }}
                   </div>
                   <div class = "sixteen wide field">
                   {{ f.render_form_field(report_form.report_link) }}
                   </div>
                   <div class = "sixteen wide field">
                   {{ f.render_form_input(report_form.report_file_urls) }}
                   </div>
                   <div class = "sixteen wide field">
                   {{ upload.file_upload('file_urls') }}
                   </div>
                   <div class = "fields">
                      <div class = "three wide field">
                      {{ f.render_form_field(report_form.save_report) }}
                      </div>
                      <div class = "three wide field">
                      {{ f.render_form_field(report_form.submit_report) }}
                      </div>
                      </div>
                  </div>
                   {{ f.end_form(report_form) }}
                  </div>
                </div>
        <div class="ui bottom attached {% if active == 'other' %}active {% endif %}tab segment" data-tab="seventh">
          <div class="ui grid container">
              <div class="sixteen wide computer sixteen wide mobile centered column">
                  <h3 class="ui dividing header">Submit Other</h3>
                   {% set other_flashes = {
                      'success': get_flashed_messages(category_filter=['form-success'])
                  } %}
                  {{ f.begin_form(other_form, other_flashes) }}
                  <input type="hidden" name="form-name" value="other_form">
                  <div class = "sixteen wide field">
                  {{ f.form_message(other_flashes['success'], header='Success!', class='success') }}
                  </div>
                  <div class = "sixteen wide field">
                    {{ f.render_form_field(other_form.other_title) }}
                  </div>
                  <div class="fields">
      	            <div class = "eight wide field">
      	            {{ f.render_form_field(other_form.other_author_first_name) }}
      	            </div>
      	            <div class = "eight wide field">
      	            {{ f.render_form_field(other_form.other_author_last_name) }}
      	            </div>
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(other_form.other_document_type) }}
                  </div>
                  <div class = "three fields">
      	            <div class = "field">
      	            {{ f.render_form_field(other_form.other_publication_day) }}
      	            </div>
      	            <div class = "field">
      	            {{ f.render_form_field(other_form.other_publication_month) }}
      	            </div>
      	            <div class = "field">
      	            {{ f.render_form_field(other_form.other_publication_year) }}
      	            </div>
      	        </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(other_form.other_description) }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(other_form.other_tags, name="Tags") }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(other_form.other_link) }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_input(other_form.other_file_urls) }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ upload.file_upload('file_urls') }}
                  </div>
                  <div class = "fields">
                  <div class = "three wide field">
                  {{ f.render_form_field(other_form.save_other) }}
                  </div>
                  <div class = "three wide field">
                  {{ f.render_form_field(other_form.submit_other) }}
                  </div>
                  </div>
                  {{ f.end_form(other_form) }}
              </div>
              </div>
          </div>
        </div>
    </div>
</div>
<script>
  $('.menu .item').tab();
</script>

{% endblock %}
