{% extends 'layouts/base.html' %}
{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('contributor.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <a class="ui secondary compact button" href="{{ url_for('contributor.submit') }}">
               <i class="pencil icon"></i>
                Draft new entry
            </a>
            <h2 class="ui header">
                Review Entries
                <div class="sub header">View, edit, and submit my database entries</div>
            </h2>
            <div class="ui menu">
                <div id="select-type" class="ui dropdown item">
                    <div class="text">
                        All resource types
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item" data-value="">All resources</div>
                      <div class="item" data-value="draft">Draft</div>
                      <div class="item" data-value="needs review">Needs Review</div>
                      <div class="item" data-value="under review">Under Review</div>
                      <div class="item" data-value="published">Published</div>
                    </div>
                </div>
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-suggestions" type="text" placeholder="Search contributions...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
               <thead>
                   <tr>
                       <th>Title</th>
                       <th class="two wide">Status</th>
                       <th class="one wide">Link</th>
                       <th class="two wide">Type</th>
                       <th class="one wide">Delete</th>
                       <th class="one wide">Draft</th>
                   </tr>
               </thead>
               <tbody>
               {% for c in contributions %}
                   <tr>
                        <td onclick="window.location.href = '{{ url_for('contributor.contribution', id=c.id) }}';">{{ c.title }}</td>
                        <td class="document document_status">{{ c.document_status }}</td>
                        <td>
                          <div class="ui buttons">
                            <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                            <button class="ui small compact icon button"  onclick="linkMe('{{ c.link }}')"
                            id="{{ c.id }}">
                              <i class="linkify icon" id="{{ c.id }}"></i>
                            </button>
                          </div>
                        </td>
                        <td class="document doc_type">{{ c.doc_type }}</td>
                        <td>
                          <div class="ui buttons">
                            <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                            <button class="ui small compact icon button delete-suggestion {% if c.document_status != 'draft' %}disabled{% endif %}" id="{{ c.id }}">
                              <i class="trash alternate icon" id="{{ c.id }}"></i>
                            </button>
                          </div>
                        </td>
                        <td>
                          <div class="ui buttons">
                            <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                            <button class="ui small compact icon button {% if c.document_status != 'draft' %}disabled{% endif %}" id="{{ c.id }}"
                                  onclick="window.location.href = '{{ url_for('contributor.view_' + c.doc_type + '_draft', id=c.id) }}';">
                              <i class="edit icon" id="{{ c.id }}"></i>
                            </button>
                          </div>
                        </td>
                        <div id="modal-{{ c.id }}" class="ui tiny modal delete-suggestion-modal">
                           <div class="header">Delete Draft</div>
                           <div class="content">Are you sure you want to delete {{ c.title }}?</div>
                           <div class="actions">
                             <div class="ui cancel button">Cancel</div>
                             <a href="{{ url_for('contributor.delete_draft', id=c.id) }}"
                               class="negative ui button">Yes, delete this draft</a>
                           </div>
                        </div>
                   </tr>
               {% endfor %}
               </tbody>
           </table>

        </div>
    </div>

    <script>
      $(document).ready(function () {
        $('.delete-suggestion').on('click', function(e) {
            id = e.target.id; // gets the id and shows the appropriate modal
            $('#modal-' + id).modal('show');
        });
        $('#search-suggestions').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
        });
        $('#select-type').dropdown({
            onChange: function (value, text, $selectedItem) {
                $('td.document.document_status:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                $('td.document.document_status').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
            }
        });
      });
      function linkMe(link) {
        console.log(link)
          if (isValidDomain(link)) {
              var re  = "^(https?://)"
              var regexHTTP = new RegExp(re,"i");
              if (regexHTTP.test(link)) {
                window.open(link)
              }
              else {
                window.open('http://'.concat(link))
              }
          }
          else {
            alert("This suggestion has a malformed URL.")
          }
      }
      function isValidDomain(v) {
        if (!v) return false;
        var re  = "^(https?://)?(www\\.)?([-a-z0-9]{1,63}\\.)*?[a-z0-9][-a-z0-9]{0,61}[a-z0-9]\\.[a-z]{2,6}(/[-\\w@\\+\\.~#\\?&/=%]*)?$"
        var regexUrl = new RegExp(re,"i");
        return regexUrl.test(v);
      }
      function startDraft(id) {
        window.open('draft/'.concat(id))
      }
    </script>
{% endblock %}
