{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/file_upload.html' as upload %}

{% block content %}
<div class="ui grid container">
    <div class="twelve wide computer sixteen wide mobile centered column">
        <h2 class="ui dividing header">Create Database Entry</h2>
          <div class="ui grid container">
              <div class="sixteen wide computer sixteen wide mobile centered column">
                  <h3 class="ui dividing header">Submit Other</h3>
                   {% set other_flashes = {
                      'success': get_flashed_messages(category_filter=['form-success'])
                  } %}
                  {{ f.begin_form(other_form, other_flashes) }}
                  <input type="hidden" name="form-name" value="other_form">
                  <div class = "sixteen wide field">
                  {{ f.form_message(other_flashes['success'], header='Success!', class='success') }}
                  </div>
                  <div class = "sixteen wide field">
                    {{ f.render_form_field(other_form.other_title) }}
                  </div>
                  <div class="fields">
                 <div class = "eight wide field">
                 {{ f.render_form_field(other_form.other_author_first_name) }}
                 </div>
                 <div class = "eight wide field">
                 {{ f.render_form_field(other_form.other_author_last_name) }}
                 </div>
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(other_form.other_document_type) }}
                  </div>
                  <div class = "three fields">
                 <div class = "field">
                 {{ f.render_form_field(other_form.other_publication_day) }}
                 </div>
                 <div class = "field">
                 {{ f.render_form_field(other_form.other_publication_month) }}
                 </div>
                 <div class = "field">
                 {{ f.render_form_field(other_form.other_publication_year) }}
                 </div>
             </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(other_form.other_description) }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_field(other_form.other_link) }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ f.render_form_input(other_form.other_file_urls) }}
                  </div>
                  <div class = "sixteen wide field">
                  {{ upload.file_upload('file_urls') }}
                  </div>
                  <div class = "fields">
                  <div class = "three wide field">
                  {{ f.render_form_field(other_form.save_other) }}
                  </div>
                  <div class = "three wide field">
                  {{ f.render_form_field(other_form.submit_other) }}
                  </div>
                  </div>
                  {{ f.end_form(other_form) }}
              </div>
              </div>
          </div>
        </div>
    </div>
</div>
<script>
  $('.menu .item').tab();
</script>

{% endblock %}
