{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Contributor Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Draft New Entry', 'contributor.submit',
                                    description='Draft a new database entry', icon='edit icon') }}
                {{ dashboard_option('Review Entries', 'contributor.view_all_drafts',
                                    description='View, edit, and submit my database entries', icon='tasks icon') }}
            </div>
        </div>
    </div>
{% endblock %}
