{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/file_upload.html' as upload %}

{% block content %}
    <div class="ui grid container">
        <div class="twelve wide computer sixteen wide mobile centered column">
            <h2 class="ui dividing header">Submit a Law</h2>
             {% set flashes = {
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}
            {{ f.begin_form(form, flashes) }}
            <div class = "eight wide field">
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}
            </div>
            <div class = "fields">
                <div class = "four wide field">
                {{ f.render_form_field(form.law_title) }}
                </div>
                <div class = "four wide field">
                {{ f.render_form_field(form.government_body) }}
                </div>
                <div class = "four wide field">
                {{ f.render_form_field(form.law_section) }}
                </div>
            </div>
            <div class = fields>
                <div class = "four wide field">
                {{ f.render_form_field(form.ennactment_day) }}
                </div>
                <div class = "four wide field">
                {{ f.render_form_field(form.ennactment_month) }}
                </div>
                <div class = "four wide field">
                {{ f.render_form_field(form.ennactment_year) }}
                </div>
            </div>
            <div class = "twelve wide field">
            {{ f.render_form_field(form.description) }}
            </div>
            <div class = "twelve wide field">
            {{ f.render_form_field(form.link) }}
            </div>
            <div class = "twelve wide field">
            {{ f.render_form_input(form.file_urls) }}
            </div>
            <div class = "twelve wide field">
            {{ upload.file_upload('file_urls') }}
            </div>
            {{ f.render_form_field(form.submit) }}
            {{ f.end_form(form) }}
        </div>
    </div>

<script>
    $(document).ready(function() {
      $('select[name^="tag_"]').each(function() {
        console.log('hi')
        $(this).multiselect();
      })
    });
  </script>
{% endblock %}



