{% import 'macros/nav_macros.html' as nav %}
{% import 'macros/location_macros.html' as loc %}
{% import 'macros/form_macros.html' as f %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/_head.html' %}
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
        {% block custom_head_tags %}{% endblock %}
    </head>
    <body>
      <div id="data-page" style="display: none;">0</div>
      <form method=post>
        <div class="ui inverted vertical masthead center aligned segment" style="background-color: #345073">
            <div class="ui container">
                {% block nav %}
                  {# add dropdown variable here to the render_nav method to render dropdowns #}
                  {{ nav.render_nav(current_user) }}
                {% endblock %}

                {% include 'partials/_flashes.html' %}
                {# When extended, the content block contains all the html of the webpage #}
                {% block content %}
                {% endblock %}

                {# Implement CSRF protection for site #}
                {% if csrf_token()|safe %}
                    <div style="visibility: hidden; display: none">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                    </div>
                {% endif %}
            </div>
            <div class="ui text container" style="padding: 100px 0 100px 0;">
                <h1 class="ui huge inverted header">
                    Whistleblowing Library
                    <div class="sub header">Curated by <a style="color:white;"
                      href="http://www.whistleblower.org">
                      <u>Government Accountability Project</u>
                    </a></div>
                </h1>
                <p>
                  This library is a curated, searchable list of resources related
                  to whistleblowing, including books, academic articles, reports,
                  videos, and other substantive materials.
                  <br/><br/>
                  You can help us grow our collection by
                  <a href="{{ url_for('main.suggestion') }}">
                    <u style="color:white">suggesting additional resources.</u></a>
                </p>
                <br>
                <div class="ui action input fluid large">
                  {{ form.query(class='ui input large fluid') }}
                  <button class="ui button large" type="submit">Search</button>
                </div>
            </div>
        </div>
        <div class="ui container" style="padding: 100px 0 100px 0;">
          <div class="ui menu">
            <div class="ui pointing dropdown link item">Resource Type
              <i class="dropdown icon"></i>
              <div class="ui menu">
                <div style="padding:10px">
                <div class="ui header small">Categories</div>
                <div class="ui form grouped fields">
                  {{ f.render_form_field(form.book) }}
                  {{ f.render_form_field(form.news_article) }}
                  {{ f.render_form_field(form.journal_article) }}
                  {{ f.render_form_field(form.law) }}
                  {{ f.render_form_field(form.video) }}
                  {{ f.render_form_field(form.report) }}
                  {{ f.render_form_field(form.other) }}
                </div>
                <div class="item" style="pointer-events: none; padding:0px!important;"></div>
                </div>
              </div>
            </div>

            <div class="ui pointing dropdown link item">Publication Date
              <i class="dropdown icon"></i>
              <div class="ui menu" style="width:200px;">
                <div style="padding:10px">
                <div class="ui header small">Date Published</div>
                  <div class="ui center aligned calendar fluid">
                    {{ form.start_date.label }}
                    <div class="ui input left icon fluid" id="start_date" style="margin-right:0px">
                      <i class="calendar icon"></i>
                      {{ form.start_date(class="ui calendar")}}
                    </div>
                  </div>
                  <br>
                  <div class="ui center aligned calendar fluid">
                    {{ form.end_date.label }}
                    <div class="ui input left icon fluid" id="end_date">
                      <i class="calendar icon"></i>
                      {{ form.end_date(class="ui calendar")}}
                    </div>
                  </div>
                  <div class="item" style="pointer-events: none; padding:0px!important;"></div>
                </div>
                </div>
            </div>
            <div class="item" style="margin-top:auto; margin-bottom:auto; flex: initial!important">
              <span>Tags</span>
              <div style="min-width:14em!important; padding-left:20px;">{{ f.render_form_field(form.tags) }}</div>
            </div>
          </div>
          <div class="ui grid">
           <div class="row">
            <div class="sixteen wide column">
                <!-- it started out with a div... how did it end up like this? -->
                {% for i in range(((search_results | length) / 25)|round(0, 'ceil')|int) %}
                <table class="ui searchable sortable unstackable selectable celled table
                    data-results data-results-{{ i }}" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="three wide">Title</th>
                            <th class="two wide">Attribution</th>
                            <th class="two wide">Resource Type</th>
                            <th>Description</th>
                            <th class="three wide">Tags</th>
                        </tr>
                    </thead>
                    {% for c in search_results[25*i:25*(i + 1)] %}
                        <tr onclick="window.location.href='{{ url_for('main.resource', id=c.id) }}';">
                            <td>{{ c.title }}</td>
                            <td>{% if c.author_last_name and c.author_first_name %}
                                  {% set first_names = c.author_first_name.split(',') %}
                                  {% set last_names = c.author_last_name.split(',') %}
                                  {% set names_length = [(first_names | length), (last_names | length)] | min %}
                                    {% for x in range(names_length) %}
                                      {% if (x == names_length - 1) %}
                                      {{first_names[x] + ' ' + last_names[x] }}
                                      {% else %}
                                      {{ first_names[x] + ' ' + last_names[x] + ','}}
                                      {% endif %}
                                    {% endfor %}
                                {% elif c.editor_last_name and c.editor_first_name %}
                                  {% set first_names=c.editor_first_name.split(',') %}
                                  {% set last_names= c.editor_last_name.split(',') %}
                                  {% set names_length = [(first_names | length), (last_names | length)] | min %}
                                    {% for x in range(names_length) %}
                                      {% if (x == names_length - 1) %}
                                      {{first_names[x] + ' ' + last_names[x] }}
                                      {% else %}
                                      {{ first_names[x] + ' ' + last_names[x] + ','}}
                                      {% endif %}
                                    {% endfor %}
                                {% elif c.publisher %}
                                  {{ c.publisher }}
                                {% elif c.studio %}
                                  {{ c.studio }}
                                {% elif c.govt_body %}
                                  {{ c.govt_body }}
                                {% else %}
                                  No Attribution
                                {% endif %}
                            </td>
                            <td>
                              {{ c.doc_type.split('_')|join(' ') }}
                            </td>
                            <td>
                              {% if c.description %}
                              {% set description_words = c.description.split(' ') %}
                              {{ description_words[:25]|join(' ') +
                                      ('...' if description_words|length > 25 else '')}}
                              {% endif %}
                            </td>
                            <td>
                              {% for tag in c.tags %}
                              <div class="ui basic label" style="margin: 2px">
                                {{ tag.tag.tag }}
                              </div>
                              {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endfor %}
                </div>
              </div>
            </div>
            <div class="ui vertical left aligned segment">
                {% if search_results|length > 0 %}
                <div>
                    Showing results <span id="data-range">1 &ndash; 25</span> out of {{ search_results | length }}.
                </div>
                {% else %}
                <div>
                    No results found.
                </div>
                {% endif %}
                <a class="ui labeled icon button prev-page" href="javascript:prevPage()">
                  <i class="angle left icon"></i>
                  Previous Page
                </a>
                <a class="ui labeled icon button next-page" href="javascript:nextPage()">
                  Next Page
                  <i class="angle right icon"></i>
                </a>
            </div>
          </div>

      </form>
        <script>
          $( document ).ready(function() {
              $( '#state' ).attr( "disabled", "disabled")
              $('#start_date').calendar({
              type: 'date',
              endCalendar: $('#end_date')
              });
              $('#end_date').calendar({
              type: 'date',
              startCalendar: $('#start_date')
              });
              $('#country').change(function (){
                if ($('#country').val() == 'US') {

                }
                else {
                }
              });

              $('#data-range').html('1 &ndash; ' + Math.min(25, {{ search_results | length }}));
              var i=parseInt($('#data-page').text());
              $('.data-results').toggle();
              $(`.data-results-${i}`).toggle();

              // Disable prev/next page buttons as necessary
              $('.prev-page').addClass('disabled');
              var max_page=parseInt({{ ((search_results | length) / 25)|round(0, 'ceil')|int }} - 1);
              if (i >= max_page) {
                  $('.next-page').addClass('disabled');
              }
          });

          function nextPage() {
              var max_page=parseInt({{ ((search_results | length) / 25)|round(0, 'ceil')|int }} - 1);
              var page=$('#data-page');
              var i=parseInt(page.text());
              $(`.data-results-${i}`).toggle();
              $(`.data-results-${i+1}`).toggle();
              page.text(i + 1);
              if (i + 1 == max_page) {
                  $('.next-page').toggleClass('disabled');
              }
              if (i == 0) {
                  $('.prev-page').toggleClass('disabled');
              }
              $('#data-range').html(`${25*(i+1) + 1} &ndash; ${Math.min(25*(i+2), {{ search_results | length }})}`);
          }

          function prevPage() {
              var max_page=parseInt({{ ((search_results | length) / 25)|round(0, 'ceil')|int }} - 1);
              var page=$('#data-page');
              var i=parseInt(page.text());
              $(`.data-results-${i}`).toggle();
              $(`.data-results-${i-1}`).toggle();
              page.text(i - 1);
              if (i == max_page) {
                  $('.next-page').toggleClass('disabled');
              }
              if (i - 1 == 0) {
                  $('.prev-page').toggleClass('disabled');
              }
              $('#data-range').html(`${25*(i-1) + 1} &ndash; ${Math.min(25*i, {{ search_results | length }})}`);
          }

          $(document).ready(function() {
            $('.ui.dropdown').dropdown();
            $('select.dropdown').dropdown();

          });

        </script>
    </body>
</html>
