{% import 'macros/nav_macros.html' as nav %}
{% import 'macros/location_macros.html' as loc %}
{% import 'macros/form_macros.html' as f %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/_head.html' %}
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
        {% block custom_head_tags %}{% endblock %}
    </head>
    <body onresize="resizeFilter()">
      <form method=post>
        <div class="ui inverted vertical masthead center aligned segment" style="background-color: #345073">
            <div class="ui container">
                {% block nav %}
                  {# add dropdown variable here to the render_nav method to render dropdowns #}
                  {{ nav.render_nav(current_user) }}
                {% endblock %}

                {% include 'partials/_flashes.html' %}
                {# When extended, the content block contains all the html of the webpage #}
                {% block content %}
                {% endblock %}

                {# Implement CSRF protection for site #}
                {% if csrf_token()|safe %}
                    <div style="visibility: hidden; display: none">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
                    </div>
                {% endif %}
            </div>
            <div class="ui text container" style="padding: 100px 0 100px 0;">
                <h1 class="ui huge inverted header">
                    Whistleblower Database
                    <div class="sub header">Curated by Government Accountability Project</div>
                </h1>
                <p>
                    Government Accountability Project is the international leader in whistleblower protection. <br/>
                    This database is a curated, searchable list of scholarly materials related to whistleblowing. <br/>
                </p>
                <br>
                <div class="ui action input fluid large">
                  {{ form.query(class='ui input large fluid') }}
                  <button class="ui button large" type="submit">Search</button>
                </div>
            </div>
        </div>
        <div class="ui container" style="padding: 100px 0 100px 0;">
          <div class="ui grid">
            <div class="four wide column" id="myDiv">
              <div class="ui vertical menu fluid">
                <div class="item">
                  <div class="ui basic segment fluid center aligned" style="padding: 0 0 0 0;">
                    <p style="font-size: 1.5em;">Filter Resources</p>
                  </div>
                </div>
                <div class="ui form">
                  <div class="item">
                    <div class="ui header small">Resource Type</div>
                      <div class="grouped fields">
                        {{ f.render_form_field(form.book) }}
                        {{ f.render_form_field(form.news_article) }}
                        {{ f.render_form_field(form.journal_article) }}
                        {{ f.render_form_field(form.law) }}
                        {{ f.render_form_field(form.video) }}
                        {{ f.render_form_field(form.other) }}
                      </div>
                    </div>
                  <div class="item">
                    <div class="ui header small">Date Posted</div>
                      <div class="ui calendar">
                        {{ form.start_date.label }}
                        <div class="ui input left icon" id="start_date">
                          <i class="calendar icon"></i>
                          {{ form.start_date(class="ui calendar")}}
                        </div>
                      </div>
                      <br>
                      <div class="ui calendar">
                        {{ form.end_date.label }}
                        <div class="ui input left icon" id="end_date">
                          <i class="calendar icon"></i>
                          {{ form.end_date(class="ui calendar")}}
                        </div>
                      </div>
                  </div>
                  <div class="item">
                    <div class="ui header small">Tags</div>
                    {{ f.render_form_field(form.tags) }}
                  </div>
                </div>
              </div>
            </div>
            <div class="twelve wide column" id="myDiv2">
              <div class="ui fluid container">
                <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="three wide">Title</th>
                            <th class="three wide">Attribution</th>
                            <th class="two wide">Resource Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in search_results.items %}
                        <tr>
                            <td>{{ c.title }}</td>
                            <td>{% if c.author_last_name or c.author_first_name %}
                                  {{ c.author_first_name + ' ' + c.author_last_name}}
                                {% elif c.name %}
                                  {{ c.name }}
                                {% elif c.govt_body %}
                                  {{ c.govt_body }}
                                {% endif %}
                            </td>
                            <td>
                              {{ c.doc_type }}
                            </td>
                            <td>
                              {{ c.description.split(' ')[:19]|join(' ') + '...'}}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="ui buttons" style="width: 100%; align-items: center; justify-content: center;">
                  <a class="ui {% if not search_results.has_prev %}disabled {% endif %} labeled icon button" type='button' {% if search_results.has_prev %} href="{{url_for('main.index', page=search_results.prev_num)}}"{% endif %}>
                    <i class="left chevron icon"></i>
                    Back
                  </a>
                  <a class="ui basic button"  type='button'>
                    Page {{ page }}
                  </a>
                  <a class="ui button {% if not search_results.has_next %}disabled {% endif %}right labeled icon button" type='button' {% if search_results.has_next %} href="{{url_for('main.index', page=search_results.next_num)}}"{% endif %}>
                    Next
                    <i class="right chevron icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
        <script>
          $( document ).ready(function() {
              $( '#state' ).attr( "disabled", "disabled")
              $('#start_date').calendar({
              type: 'date',
              endCalendar: $('#end_date')
              });
              $('#end_date').calendar({
              type: 'date',
              startCalendar: $('#start_date')
              });
              $('#country').change(function (){
                if ($('#country').val() == 'US') {

                }
                else {
                }
              });
          });
          function resizeFilter() {
            if($(window).width() < 800){
              $("#myDiv").hide();
              if ($("myDiv2").hasClass('twelve wide')) {
                $("#myDiv2").removeClass('twelve wide');
              }
              $("#myDiv2").addClass('sixteen wide');
            }
            else {
              $("#myDiv").show();
              if ($("myDiv2").hasClass('sixteen wide')) {
                $("#myDiv2").removeClass('sixteen wide');
              }
              $("#myDiv2").addClass('twelve wide');
            }
          };
        </script>
    </body>
</html>
