{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            {% if from_saved %}
            <a class="ui basic compact button" href="{{ url_for('main.review_saved') }}">
                <i class="caret left icon"></i>
                Back to saved resources
            </a>
            {% else %}
            <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                <i class="caret left icon"></i>
                Back to database
            </a>
            {% endif %}
            <br/>
            <br/>
            <div style="width:100%">
              <h2 class="ui header" style="overflow-wrap: break-word; float:left;">
                  {{ resource.title }}
                  <div class="sub header">
                    {% if (resource.author_last_name and resource.author_first_name) or resource.name or resource.govt_body %}
                      {% if resource.author_last_name and resource.author_first_name %}
                          {% set first_names = resource.author_first_name.split(',') %}
                          {% set last_names =  resource.author_last_name.split(',') %}
                          By
                            {% for x in range(first_names | length) %}
                              {% if (x == first_names | length - 1) %}
                              {{ first_names[x] + ' ' + last_names[x] }}
                              {% else %}
                              {{ first_names[x] + ' ' + last_names[x] + ','}}
                              {% endif %}
                            {% endfor %}
                        {% elif resource.name %}
                          By {{ resource.name }}
                        {% elif resource.govt_body %}
                          Enacted by {{ resource.govt_body }}
                        {% endif %}
                      {% endif %}
                    </div>
              </h2>
              {% if user_id and user_type != 'admin'%}
                <div style="float:right;">
                  {{ f.render_form(form) }}
                </div>
              {% endif %}
            </div>
            <div style="height:50px"></div>
              {% if user_type == 'admin'%}
              <div style="height:15px"></div>
              <div class="ui buttons">
                <div class="ui buttons">
                  <a class="ui button" href="{{ url_for('admin.delete_entry', id=resource.id) }}">
                      <i class="delete icon"></i>
                      Delete
                  </a>
                  <a class="ui button" href="{{ url_for('admin.contribution_' + resource.doc_type, id=resource.id) }}">
                      <i class="edit icon"></i>
                      Edit
                  </a>
                  <a class="ui button" href="javascript:togglePublish('{{ resource.id }}')">
                      <i class="save icon"></i>
                      <span id="publish">Unpublish</span>
                  </a>
                </div>
                <div style="position: absolute; right:1rem">
                  {{ f.render_form(form) }}
                </div>
              </div>
              {% endif %}
            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
               <tbody>
                   <tr>
                     <td>Resource Type</td>
                     <td>{{ resource.doc_type.split('_')|join(' ') }}</td>
                   </tr>
                   {% if resource.tags | length > 0 %}
                   <tr>
                     <td>Tags</td>
                     <td>
                      {% for tag in resource.tags %}
                       <div class="ui basic label" style="margin: 2px">
                         {{ tag.tag.tag }}
                       </div>
                       {% endfor %}
                     </td>
                   </tr>
                   {% endif %}
                   {% if resource.day and resource.month and resource.year %}
                     <td>Date</td>
                     <td>{{ resource.month ~ ' ' ~ resource.day ~ ', ' ~ resource.year }}</td>
                     {% elif resource.month and resource.year %}
                     <td>Date</td>
                     <td>{{ resource.month ~ ' ' ~ resource.year }}</td>
                     {% elif resource.year %}
                     <td>Description</td>
                     <td>{{ resource.year }}</td>
                   {% endif %}
                   {% if resource.description %}
                   <tr>
                     <td>Description</td>
                     <td>{{ resource.description }}</td>
                   </tr>
                   {% endif %}
                  {% if resource.other_type %}
                   <tr>
                     <td>Type (if other)</td>
                     <td>{{ resource.other_type }}</td>
                   </tr>
                   <tr>
                   {% endif %}
                   <tr>
                     <td>Posted Date</td>
                     <td>{{ resource.posted_date }}</td>
                   </tr>
                   <tr>
                     <td>Last Edited Date</td>
                     <td>{{ resource.last_edited_date }}</td>
                   </tr>
                   {% if resource.link %}
                   <tr>
                     <td>Link</td>
                     <td><a href="{{ resource.link }}">{{ resource.link }}</a></td>
                   </tr>
                   {% endif %}
                   {% if resource.citation %}
                   <tr>
                     <td>Citation</td>
                     <td>{{ resource.citation }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.volume %}
                   <tr>
                     <td>Volume</td>
                     <td>{{ resource.volume }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.edition %}
                   <tr>
                     <td>Edition</td>
                     <td>{{ resource.edition }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.series %}
                   <tr>
                     <td>Series</td>
                     <td>{{ resource.series }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.name %}
                   <tr>
                     <td>Name</td>
                     <td>{{ resource.name }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.city %}
                   <tr>
                     <td>City</td>
                     <td>{{ resource.city }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.state %}
                   <tr>
                     <td>State</td>
                     <td>{{ resource.state }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.country %}
                   <tr>
                     <td>Country</td>
                     <td>{{ resource.country }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.section %}
                   <tr>
                     <td>Section</td>
                     <td>{{ resource.section }}</td>
                   </tr>
                   {% endif %}
               </tbody>
           </table>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var save_btn = $('#save-btn');
                save_btn.text('Unsave resource');
                save_btn.addClass('active');
        });
        var csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
        function togglePublish(id) {
            $.post('/admin/toggle_publish', {
                id: id
            }).done(function(response) {
              $("#publish").text(response.status);
            }).fail(function() {
                // TODO?
            });
        }
    </script>
{% endblock %}
