{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            {% if loc=="saved" %}
            <a class="ui basic compact button" href="{{ url_for('main.review_saved') }}">
                <i class="caret left icon"></i>
                Back to saved resources
            </a>
            {% elif loc=="draft" and user_type=="admin" %}
            <a class="ui basic compact button" href="{{ url_for('admin.view_all_drafts') }}">
                <i class="caret left icon"></i>
                Back to drafts
            </a>
            {% elif loc=="draft" and user_type=="contributor" %}
            <a class="ui basic compact button" href="{{ url_for('contributor.view_all_drafts') }}">
                <i class="caret left icon"></i>
                Back to drafts
            </a>
            {% elif loc=="contribution" %}
            <a class="ui basic compact button" href="{{ url_for('admin.review_contributions') }}">
                <i class="caret left icon"></i>
                Back to contributions
            </a>
            {% else %}
            <a class="ui basic compact button" href="{{ url_for('main.index') }}">
                <i class="caret left icon"></i>
                Back to library
            </a>
            {% endif %}
              <div style="height:15px;"></div>
              {% if user_type == 'admin'%}
              <div class="ui buttons">
                  <a class="ui button" href="{{ url_for('admin.delete_entry', id=resource.id) }}">
                      <i class="delete icon"></i>
                      Delete
                  </a>
                  <a class="ui button" href="{{ url_for('admin.contribution_' + resource.doc_type, id=resource.id) }}">
                      <i class="edit icon"></i>
                      Edit
                  </a>
                  <a class="ui button" href="javascript:togglePublish('{{ resource.id }}')">
                      <i class="share square icon"></i>
                      {% if resource.document_status == 'published'%}
                        <span id="publish">Unpublish</span>
                      {% else %}
                        <span id="publish">Publish</span>
                      {% endif %}
                  </a>
              </div>
              {% endif %}
            <br>
            <br>
            <div style="width:100%">
              <h2 class="ui header" style="overflow-wrap: break-word; float:left; margin-bottom:15px;">
                  {{ resource.title }}
                  <div class="sub header">
                    {% if (resource.author_last_name and resource.author_first_name) or resource.name or resource.govt_body %}
                      {% if resource.author_last_name and resource.author_first_name %}
                          {% set first_names=resource.author_first_name.split(',') %}
                          {% set last_names=resource.author_last_name.split(',') %}
                          {% set names_length = [(first_names | length), (last_names | length)] | min %}
                          By
                            {% for x in range(names_length) %}
                              {% if (x == names_length - 1) %}
                              {{ first_names[x] + ' ' + last_names[x] }}
                              {% else %}
                              {{ first_names[x] + ' ' + last_names[x] + ','}}
                              {% endif %}
                            {% endfor %}
                        {% elif resource.name %}
                          By {{ resource.name }}
                        {% elif resource.govt_body %}
                          Enacted by {{ resource.govt_body }}
                        {% endif %}
                      {% endif %}
                    </div>
                    <div class="ui basic label" style="margin:2px;">
                     {% if resource.doc_type == 'other' and resource.other_type %}
                       {{ resource.other_type }}
                     {% else %}
                       {{ resource.doc_type.split('_')|join(' ') }}
                     {% endif %}
                    </div>
              </h2>
            </div>
            <table class="ui searchable sortable unstackable selectable celled definition table" style="overflow-x: scroll; table-layout: fixed;">
               <tbody>
                 {% if resource.tags | length > 0 %}
                 <tr>
                   <td>Tags</td>
                   <td>
                    {% for tag in resource.tags %}
                     <div class="ui basic label" style="margin: 2px;">
                       {{ tag.tag.tag }}
                     </div>
                     {% endfor %}
                   </td>
                 </tr>
                {% endif %}
                 {% if resource.day and resource.month and resource.year %}
                 <tr>
                    <td>Date</td>
                    <td>{{ resource.month ~ ' ' ~ resource.day ~ ', ' ~ resource.year }}</td>
                  </tr>
                 {% elif resource.month and resource.year %}
                 <tr>
                    <td>Date</td>
                    <td>{{ resource.month ~ ' ' ~ resource.year }}</td>
                 </tr>
                 {% elif resource.year %}
                 <tr>
                    <td>Year</td>
                    <td>{{ resource.year }}</td>
                 </tr>
                 {% endif %}
                    {% if resource.editor_last_name and resource.editor_first_name %}
                    <tr>
                        <td>Editor(s)</td>
                        {% set editor_first_names=resource.editor_first_name.split(',') %}
                        {% set editor_last_names=resource.editor_last_name.split(',') %}
                        {% set editor_names_length = [(editor_first_names | length), (editor_last_names | length)] | min %}
                        <td>
                          {% for x in range(editor_names_length) %}
                            {% if (x == editor_names_length - 1) %}
                            {{ editor_first_names[x] + ' ' + editor_last_names[x] }}
                            {% else %}
                            {{ editor_first_names[x] + ' ' + editor_last_names[x] + ','}}
                            {% endif %}
                          {% endfor %}
                        </td>
                      </tr>
                    {% endif %}
                    {% if resource.publisher %}
                    <tr>
                      {% if resource.doc_type == 'news_article' %}
                      <td>Publication</td>
                      {% else %}
                      <td>Publisher</td>
                      {% endif %}
                      <td>{{ resource.publisher }}</td>
                    </tr>
                    {% endif %}
                    {% if resource.source %}
                    <tr>
                      <td>Source</td>
                      <td>{{ resource.source }}</td>
                    </tr>
                    {% endif %}
                  {% if resource.volume %}
                  <tr>
                    <td>Volume</td>
                    <td>{{ resource.volume }}</td>
                  </tr>
                  {% endif %}
                  {% if resource.edition %}
                  <tr>
                    <td>Edition</td>
                    <td>{{ resource.edition }}</td>
                  </tr>
                  {% endif %}
                  {% if resource.series %}
                  <tr>
                    <td>Series</td>
                    <td>{{ resource.series }}</td>
                  </tr>
                  {% endif %}
                   {% if resource.citation %}
                   <tr>
                     <td>Citation</td>
                     <td>{{ resource.citation }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.section %}
                   <tr>
                     <td>Section</td>
                     <td>{{ resource.section }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.govt_body %}
                   <tr>
                     <td>Government Body</td>
                     <td>{{ resource.govt_body }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.country %}
                   <tr>
                     <td>Country</td>
                     <td>{{ resource.country }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.region %}
                   <tr>
                     <td>Region</td>
                     <td>{{ resource.region }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.page_start and resource.page_end %}
                   <tr>
                     <td>Page Range</td>
                     <td>{{ resource.page_start }} - {{ resource.page_end }}</td>
                   </tr>
                   {% endif %}
                   {% if resource.description %}
                   <tr>
                     <td>Description</td>
                     <td>{{ resource.description }}</td>
                   </tr>
                   {% endif %}
               </tbody>
           </table>
           <div class="ui buttons">
           {% if resource.link %}
           <a class="ui button" href="{{ resource.link }}" target="_blank">
               <i class="linkify icon"></i>
               <span id="link">Access Resource</span>
           </a>
           {% endif %}
           {% if resource.file %}
           <a class="ui button" href="{{ resource.file }}">
               <i class="file icon"></i>
               <span id="file">Access Resource File</span>
           </a>
           {% endif %}
           {% if user_id %}
           <a class="ui button" href="javascript:toggleSave('{{ resource.id }}')">
               <i class="save icon"></i>
               {% if saved %}
                 <span id="save">Unsave</span>
               {% else %}
                 <span id="save">Save</span>
               {% endif %}
           </a>
           {% endif %}
           </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var save_btn=$('#save-btn');
                save_btn.text('Unsave resource');
                save_btn.addClass('active');
        });
        var csrf_token="{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
        function togglePublish(id) {
            $.post('/admin/toggle_publish', {
                id: id
            }).done(function(response) {
              $("#publish").text(response.status);
            }).fail(function() {
                // TODO?
            });
        }
        function toggleSave(id) {
            $.post('/toggleSave', {
                id: id
            }).done(function(response) {
                $("#save").text(response.status);
            }).fail(function() {
                // TODO?
            });
        }
    </script>
{% endblock %}
