{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('admin.review_contributions') }}">
                <i class="caret left icon"></i>
                Back to contributions
            </a>
            <h2 class="ui header">
                Review Contribution
                <div class="sub header">Review this contribution</div>
            </h2>
            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
               <tbody>
                   <tr>
                     <td width = "20%">Title</td>
                     <td>{{ contribution.title }}</td>
                   </tr>
                   <tr>
                     <td>Type</td>
                     <td>{{ contribution.doc_type }}</td>
                   </tr>
                   <tr>
                  {% if contribution.other_type %}
                   <tr>
                     <td>Type (if other)</td>
                     <td>{{ contribution.other_type }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.description %}
                   <tr>
                     <td>Description</td>
                     <td>{{ contribution.description }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.day %}
                   <tr>
                     <td>Publication Day</td>
                     <td>{{ contribution.day }}</td>
                   </tr>
                   {% endif %}
                    {% if contribution.month %}
                   <tr>
                     <td>Publication Month</td>
                     <td>{{ contribution.month }}</td>
                   </tr>
                   {% endif %}
                    {% if contribution.year %}
                   <tr>
                     <td>Publication Year</td>
                     <td>{{ contribution.year }}</td>
                   </tr>
                   {% endif %}
                   <tr>
                     <td>Posted Date</td>
                     <td>{{ contribution.posted_date }}</td>
                   </tr>
                   <tr>
                     <td>Last Edited Date</td>
                     <td>{{ contribution.last_edited_date }}</td>
                   </tr>
                   {% if contribution.link %}
                   <tr>
                     <td>Link</td>
                     <td>{{ contribution.link }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.file %}
                   <tr>
                     <td>File</td>
                     <td>{{ contribution.file }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.citation %}
                   <tr>
                     <td>File</td>
                     <td>{{ contribution.citation }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.volume %}
                   <tr>
                     <td>Volume</td>
                     <td>{{ contribution.volume }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.edition %}
                   <tr>
                     <td>Edition</td>
                     <td>{{ contribution.edition }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.series %}
                   <tr>
                     <td>Series</td>
                     <td>{{ contribution.series }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.ISBN %}
                   <tr>
                     <td>ISBN</td>
                     <td>{{ contribution.ISBN }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.author_first_name %}
                   <tr>
                     <td>Author First Name</td>
                     <td>{{ contribution.author_first_name }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.author_last_name %}
                   <tr>
                     <td>Author Last Name</td>
                     <td>{{ contribution.author_last_name }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.name %}
                   <tr>
                     <td>Name</td>
                     <td>{{ contribution.name }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.city %}
                   <tr>
                     <td>City</td>
                     <td>{{ contribution.city }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.state %}
                   <tr>
                     <td>State</td>
                     <td>{{ contribution.state }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.country %}
                   <tr>
                     <td>Country</td>
                     <td>{{ contribution.country }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.govt_body %}
                   <tr>
                     <td>Government Body</td>
                     <td>{{ contribution.govt_body }}</td>
                   </tr>
                   {% endif %}
                   {% if contribution.section %}
                   <tr>
                     <td>Section</td>
                     <td>{{ contribution.section }}</td>
                   </tr>
                   {% endif %}
               </tbody>
           </table>
           <a class="ui basic compact button" href ="{{ url_for('admin.publish_contribution', id=contribution.id) }}">
                Publish Contribution
            </a>
            <a class="ui basic compact button" href="{{ url_for('admin.view_' + convert[contribution.doc_type] + '_draft', id=contribution.id)}}">
                Edit Contribution
            </a>
        </div>
    </div>
{% endblock %}
