{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Admin Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Create new resource', 'admin.submit',
                                    description='Draft a new resource', icon='edit icon') }}
                {{ dashboard_option('View my drafts', 'admin.view_all_drafts',
                                    description='View, edit, and submit my drafts', icon='file alternate outline icon') }}
                {{ dashboard_option('Review suggestions', 'admin.review_suggestions',
                                    description='Review resources suggested by users', icon='lightbulb icon') }}
                {{ dashboard_option('Review contributions', 'admin.review_contributions',
                                    description='Review resources submitted by contributors', icon='tasks icon') }}
                {{ dashboard_option('Manage tags', 'admin.manage_tags',
                                    description='Review and manage resource tags', icon='tag icon') }}
                {{ dashboard_option('See registered users', 'admin.registered_users',
                                    description='View and manage user accounts', icon='users icon') }}
                {{ dashboard_option('Add new user', 'admin.new_user',
                                    description='Create a new user account', icon='add user icon') }}
                {{ dashboard_option('Invite new user', 'admin.invite_user',
                                    description='Invite a new user to create an account', icon='envelope icon') }}
                {{ dashboard_option('Fix broken links', 'admin.view_broken_links',
                                    description='Update resources that have broken links', icon='sync icon') }}
                {{ dashboard_option('Upload & download resources', 'admin.upload_and_download',
                                    description='Upload and download resources from CSV file', icon='download icon') }}
            </div>
        </div>
    </div>
{% endblock %}
