{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Manage Tags
                <div class="sub header">Manage tags that can be applied to resources</div>
            </h2>
            <h3 class="ui dividing header">Existing Tags</h3>
            {% for t in tags %}
            <div class="ui label" style="margin-bottom:3px">
              <div style="display: inline-block">{{ t.tag }}</div>
              <a style="display: inline-block; margin-right: -8px;" href="{{ url_for('admin.delete_tag', id=t.id) }}">
                <i class="delete icon" style="text-decoration: inherit;" id="{{ t.id }}"></i>
              </a>
            </div>
            {% endfor %}
            <h3 class="ui dividing header">Add a New Tag</h3>
            {{ f.render_form(form) }}
        </div>
    </div>
{% endblock %}
