{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Review Suggestions
                <div class="sub header">Review and manage resources suggested by users.</div>
            </h2>
            <div class="ui menu">
                <div id="select-type" class="ui dropdown item">
                    <div class="text">
                        All resource types
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="">All resource types</div>
                        <div class="item" data-value="book">Books</div>
                        <div class="item" data-value="news article">News Articles</div>
                        <div class="item" data-value="journal article">Journal Articles</div>
                        <div class="item" data-value="law">Laws</div>
                        <div class="item" data-value="video">Videos</div>
                        <div class="item" data-value="report">Reports</div>
                        <div class="item" data-value="other">Other</div>
                    </div>
                </div>
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-suggestions" type="text" placeholder="Search suggestions…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
               <thead>
                   <tr>
                       <th>Title</th>
                       <th>Resource Type</th>
                       <th class="one wide">Delete</th>
                       <th class="one wide">Draft</th>
                   </tr>
               </thead>
               <tbody>
               {% for s in suggestions %}
                   <tr onclick="window.location.href = '{{ url_for('admin.suggestion', id=s.id) }}';">
                       <td>{{ s.title }}</td>
                       <td class="suggestion type">{{ s.doc_type.split('_')|join(' ') }}</td>
                       <td>
                         <div class="ui buttons">
                           <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                           <button class="ui small compact icon button delete-suggestion" id="{{ s.id }}">
                             <i class="trash alternate icon" id="{{ s.id }}"></i>
                           </button>
                         </div>
                       </td>
                       <!--confirmation modal for deleting a checklist item-->
                       <td>
                         <div class="ui buttons">
                           <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                           <a class="ui small compact icon button" id="{{ s.id }}"
                            href="{{ url_for('admin.suggestion_' + s.doc_type + '_draft', id=s.id) }}"">
                             <i class="edit icon" id="{{ s.id }}"></i>
                           </a>
                         </div>
                       </td>
                       <div id="modal-{{ s.id }}" class="ui tiny modal delete-suggestion-modal">
                          <div class="header">Delete Suggestion</div>
                          <div class="content">Are you sure you want to delete {{ s.title }}?</div>
                          <div class="actions">
                            <div class="ui cancel button">Cancel</div>
                            <a href="{{ url_for('admin.delete_suggestion', id=s.id) }}"
                              class="negative ui button">Yes, delete this suggestion</a>
                          </div>
                       </div>
                   </tr>
               {% endfor %}
               </tbody>
           </table>

        </div>
    </div>

    <script>
      $(document).ready(function () {
        $('.delete-suggestion').on('click', function(e) {
            id = e.target.id; // gets the id and shows the appropriate modal
            $('#modal-' + id).modal('show');
        });
        $('#search-suggestions').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
        });
        $('#select-type').dropdown({
            onChange: function (value, text, $selectedItem) {
                $('td.suggestion.type:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                $('td.suggestion.type').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
            }
        });
      });
    </script>
{% endblock %}
