{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Update Broken Links
                <div class="sub header">Update entries with broken links.</div>
            </h2>
            <div class="ui menu">
                <div id="select-type" class="ui dropdown item">
                    <div class="text">
                        All resource types
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="">All resource types</div>
                        <div class="item" data-value="book">Books</div>
                        <div class="item" data-value="news article">News Articles</div>
                        <div class="item" data-value="journal article">Journal Articles</div>
                        <div class="item" data-value="law">Laws</div>
                        <div class="item" data-value="video">Videos</div>
                        <div class="item" data-value="report">Reports</div>
                        <div class="item" data-value="other">Other</div>
                    </div>
                </div>
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-suggestions" type="text" placeholder="Search suggestions…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
               <thead>
                   <tr>
                       <th>Title</th>
                       <th>Resource Type</th>
                       <th class="one wide">Edit</th>
                       <th class="one wide">Ignore</th>
                   </tr>
               </thead>
               <tbody>
               {% for b in broken %}
                   <tr>
                       <td onclick="window.location.href='{{ url_for('admin.contribution', id=b.id) }}';">{{ b.title }}</td>
                       <td class="suggestion type">{{ b.doc_type.split('_')|join(' ') }}</td>
                       <!--confirmation modal for deleting a checklist item-->
                       <td>
                         <div class="ui buttons">
                           <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                           <a class="ui small compact icon button" id="{{ b.id }}"
                            href="javascript:updateLink('{{ b.id }}', '{{ b.link }}', '{{ b.title }}')">
                             <i class="edit icon" id="{{ b.id }}"></i>
                           </a>
                         </div>
                       </td>
                       <td>
                         <div class="ui buttons">
                           <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                           <a class="ui small compact icon button" id="{{ b.id }}"
                            href="{{ url_for('admin.ignore_link', id=b.id) }}">
                             <i class="ban icon" id="{{ b.id }}"></i>
                           </a>
                         </div>
                       </td>
                   </tr>
               {% endfor %}
               </tbody>
           </table>

        </div>
    </div>
    <div class="ui small modal">
      <div class="header">Update broken link</div>
      <div class="content">
        {% set flashes={} %}
        {{ f.begin_form(form, flashes) }}
        <p>The resource <b><span id="resource-name"></span></b> has a broken link. You can update it here.</p>
        <div class="ui tiny header" style="font-size:.92857143em;">Old Link</div>
        <a id=old-link><span id="old-link-text"></span></a>
        <br/>
        <br/>
        <div hidden class="field">
        {{ f.render_form_field(form.id) }}
        </div>
        <div class="field">
        {{ f.render_form_field(form.link, name='New Link') }}
        </div>
        <br/>
        <div class="actions fields">
          {{ f.render_form_field(form.submit, name='Submit') }}
          <div class="ui cancel button">Cancel</div>
        </div>
        {{ f.end_form(form) }}
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $('.delete-suggestion').on('click', function(e) {
            id=e.target.id; // gets the id and shows the appropriate modal
            $('#modal-' + id).modal('show');
        });
        $('#search-suggestions').keyup(function () {
                var searchText=$(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
        });
        $('#select-type').dropdown({
            onChange: function (value, text, $selectedItem) {
                $('td.suggestion.type:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                $('td.suggestion.type').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
            }
        });
        $("input").prop('required', true);
      });
      function updateLink(id, old_link, resource_name) {
        $('.ui.small.modal').attr('id', 'link-modal-' + id);
        $('#old-link').attr('href', old_link);
        $('#old-link-text').text(old_link);
        $('#resource-name').text(resource_name);
        $('#id').val(id);
        $('#link-modal-' + id).modal('show');
      }
    </script>
{% endblock %}
